@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 50px 250px;

}
nav ul li {
    list-style: none;
}
.name{
    padding: 10px;
    width: 228px;
    height: 58px;
    font-size: 28px;
    font-weight: 700;
}
nav ul li button{
    border: 20px;
    padding: 10px;
    width: 228px;
    height: 58px;
    cursor: pointer;
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 500;
}

/* Banner Section */
.background-section{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-top: 30px;
}

.background-container{
    width: 998px;
    height: 582px;
    margin: 26px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.bg-content{
    text-align: center;
}
.bg-title{
    font-size: 38px;
    font-weight: 600;
    margin: 20px;
    
}
.bg-description{
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.7;
    margin: 20px;
}
.bg-btn{
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}
/* main section why development */
.main-container{
    width: 1140px;
    height: 1095px;
    margin: 0 auto;
    margin: 70px auto;
    padding: 80px;

}
.why-title{
font-size: 32px;
font-weight: 800px;
margin: 20px;
}
.title-text{
    font-size: 16px;
    font-weight: 300px;
    opacity: 0.7;
}
.main-head{
    text-align: center;
    padding: 0 47px;
}
/* main layer section */
.layer-1{
    display: flex;
    margin-top: 45px;
}
.layer1-text{
    width: 80%;
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.layer1-text p{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
}
.layer1-img{
    width: 40%;
    
}
/* mixed styles */
.layer-btn{
    font-size: 15px;
    font-weight: 400;
    height: 48px;
    width: 150px;
    margin-top: 10px;
    padding: 8px;
    opacity: 0.7;
    border-radius: 3px;
    cursor: pointer;
}

/*         main layer section                 */
.layer1-text-title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
/* section-2 */
.layer-2{
    display: flex;
    margin-top: 45px;
    flex-direction: row-reverse;
}
.layer2-text{
    width: 80%;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.layer2-text p{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
}
.layer2-img{
    width: 40%;
}
.layer2-text-title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}

/* inspiration - section */
.inspiration{
    width: 1140px;
    height: 777px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.insp-container{
    margin: 48px;
}
.insp-title{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    width: 852px;
    height: 39px;
    margin: 20px auto;
}
.insp-text{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}
.yt-vedio{
    width: 1040px;
    height: 514px;
    border-radius: 8px;
    
}
/* card- container section */
.card-section{
    width: 1140px;
    height: 483px;
    margin: 70px auto;
}

.card-header{
text-align: center;
margin: 20px auto;
}
.child-title{
    font-size: 32px;
    font-weight: 800;
    margin-top: 20px;
}
.parent-card{
    display: flex;
    width: 1140px;
    height: 350px;
}
.card-html{
    background-color: #fff6f4;
    padding: 40px;
    text-align: left;
}
.card-css{
    background-color: #f2f6fe;
    padding: 40px;
    text-align: left;
}
.card-js{
    background-color: #fffdf2;
    padding: 40px;
    text-align: left;
    
}
.card-p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-left: 7px;
}
.card-learn-more{
    font-size: 16px;
    font-weight: 700;
    width: 284px;
    color: black;
    margin: 10px;
    
}
.card-title{
    font-size: 24px;
    font-weight: 800px;
    margin: 10px;
    padding: 5px;
    text-align: left;
}
/* support background */

.support-bg{
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1140px;
    height: 314px;
    margin: 38px auto;
    border-radius: 15px;
    padding-top: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.support-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px auto;
    width: 1044px;
    height: 186px;

}
.support-title{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.support-text{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;
}
.support-sms{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.support-btn{
    width: 120px;
    font-size: 20px;
    font-weight: 600px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 0px 16px;
    justify-content: center;
    padding: 17px 20px 17px 20px;
    cursor: pointer;
}

/* footer section */
footer{
    width: 1440px;
    height: 100px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    background-color: rgb(237, 236, 236);
}
/* .social-contact{
    display: flex;
    justify-content: space-between;
} */
